body,
html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    display: flex;
    flex-flow: column;
    font-family: 'Lato', sans-serif;
    background-color: #181717;
}


a {
    position: relative;
}




@media only screen and (min-device-width : 320px) {

    body {
        overflow: hidden;
    }

    #top_contents_wrapper,
    #deepClean_top_contents_wrapper,
    #movingInOut_top_contents_wrapper {
        position: relative;
        width: 100%;
        height: 15%;

    }

    #deepClean_top_contents_wrapper {
        position: absolute;
    }

    #movingInOut_top_contents_wrapper {
        position: absolute;
    }

    #add_wrap {
        position: absolute;
        width: 70%;
        bottom: 5%;
        margin: 0px 15px;

    }

    .cleaning_type_title {
        position: relative;
        margin: 0;
        color: #EDC681;
        font-weight: 300;
        font-size: 22px;
    }

    .title_subtext {
        color: #fff;
        font-weight: 200;
        font-size: 10px;
    }

    .addButton {
        position: absolute;
        right: 5%;
        bottom: 15%;
        border: none;
        padding: 5px 15px;
        font-size: 15px;
        background-color: #EDC681;
    }

    /*---------BASIC CLEAN CONTENTS---------*/


    #basicleanslider_contents_wrapper {
        position: relative;
        width: 100%;
        height: 70%;
        overflow: hidden;
        top: 5%;
        display: flex;
        justify-content: space-evenly;



    }

    .tap_to_select {
        position: absolute;
        width: 70%;
        height: 63%;
        display: flex;
        justify-content: center;

    }

    #basicClean_image {
        position: absolute;
        align-self: center;
        top: 5%;
        height: 120px;
    }


    .cleaning_title_big {
        position: absolute;
        color: #fff;
        text-align: center;
        bottom: 0;
        font-weight: 400;
    }

    #basicClean_blurb {
        position: absolute;
        color: #fff;
        text-align: center;
        font-weight: 100;
        font-size: 15px;
        bottom: 11%;


    }

    /*---------DEEP CLEAN CONTENTS---------*/

    #deepcleanslider_contents_wrapper {
        position: absolute;
        width: 100%;
        height: 70%;
        overflow: hidden;
        bottom: 10%;
        display: flex;
        justify-content: space-evenly;


    }


    .deepClean_tap_to_select {
        position: absolute;
        width: 70%;
        height: 63%;
        display: flex;
        justify-content: center;

    }

    #deepClean_image {
        position: absolute;
        align-self: center;
        top: 5%;
        height: 120px;
    }

    .deepCleaning_title_big {
        position: absolute;
        color: #fff;
        text-align: center;
        bottom: 3.3%;
        font-weight: 400;


    }

    #deepClean_blurb {
        position: absolute;
        color: #fff;
        text-align: center;
        font-weight: 100;
        font-size: 15px;
        bottom: 11%;


    }

    /*---------MOVING IN/OUT CONTENTS---------*/


    #movingInOutslider_contents_wrapper {
        position: absolute;
        width: 100%;
        height: 70%;
        overflow: hidden;
        bottom: 10%;
        display: flex;
        justify-content: space-evenly;

    }

    .movingInOut_tap_to_select {
        position: absolute;
        width: 70%;
        height: 63%;
        display: flex;
        justify-content: center;

    }

    #movingInOut_image {
        position: absolute;
        align-self: center;
        top: 5%;
        height: 120px;
    }


    .movingInOut_title_big {
        position: absolute;
        color: #fff;
        text-align: center;
        bottom: 3.3%;
        font-weight: 400;


    }


    #movingInOut_blurb {
        position: absolute;
        color: #fff;
        text-align: center;
        font-weight: 100;
        font-size: 15px;
        bottom: 11%;


    }

    /*---------NEXT BUTTONS---------*/


    .next_prev_buttonWrap {
        position: relative;
        margin-bottom: 10px;
        height: 17%;
        display: flex;
        justify-content: center;
    }

    #toBasicClean_button,
    #toDeepClean_button,
    #toMovingInOut_button {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 100px;
        align-self: center;
        background-color: #EDC681;
        animation-duration: 0.5s;
        animation-iteration-count: 1;

    }

    #toDeepClean_button {
        margin: 0px 50px;
    }


    /*---------** HOW MANY ROOMS START **---------*/



    #rooms_topContents_wrapper {
        position: relative;
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        flex-flow: column;


    }

    .rooms_title {
        position: relative;
        color: #EDC681;
        font-weight: 200;
        font-size: 22px;
        margin: 0;
        height: 36%;
        align-self: center;
    }

    .rooms_titleSubtext {
        position: relative;
        color: #fff;
        font-weight: 200;
        text-align: center;
    }


    /*---------CENTER COUNTERS---------*/


    #center_counters_wrap {
        position: relative;
        height: 70%;
        display: flex;
        justify-content: space-between;
        flex-flow: column;



    }


    .smallTitle {
        position: relative;
        text-align: center;
        width: 100%;
        height: 5%;
        top: 0;
        color: #fff;
        z-index: 1;
    }

    #bedrooms_counter_wrap {
        position: relative;
        width: 100%;
        height: 30%;
        flex-flow: column;
        display: flex;
        align-items: center;


    }

    .roomsWrap {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;


    }

    .addRoom,
    .subtractRoom {
        position: relative;
        color: #EDC681;
        font-size: 2em;
        font-family: 'Nova Mono', monospace;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;
        width: 40%;

    }


    .addRoom {
        border-radius: 50px 0px 0px 50px;
        background: #181717;
        box-shadow: -12px 12px 23px #121212,
            12px -12px 23px #1e1c1c;

    }

    .subtractRoom {
        border-radius: 0px 50px 50px 0px;
        background: #181717;
        box-shadow: -12px 12px 23px #121212,
            12px -12px 23px #1e1c1c;
    }


    #rooms_amount_bedroom,
    #rooms_amount_bathrooms,
    #rooms_amount_kitchens {
        position: absolute;
        border: none;
        border-bottom: 1px solid #EDC681;
        width: 75%;
        height: 20%;
        background: transparent;
        outline: none;
        bottom: 20%;
        font-size: 20px;
        text-align: center;
        color: #fff;

    }



    /*---------NEXT BUTTONS---------*/


    .nextPrevious_button_wrap {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 17%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #nextButton_toForm,
    #previousButton {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        border: none;
        background-color: #EDC681;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    #previousButton {
        left: 40px;
        background-color: transparent;
    }

    .left_arrow_button {
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 100px;
        border: none;
        left: 0;
        transition: 0.1s;



    }

    .right_arrow_button {
        position: absolute;
        left: 0;
        height: 35px;
        transition: 0.1s;

    }


    /*---------** CONTACT FORM **---------*/


    /*--------BACK TO PREVIOS PAGE--------*/


    .backToPrevious {
        position: absolute;
        height: 100%;
        width: 100%;

    }

    .backToPreviousButton {
        position: absolute;
        height: 30px;
        top: 33%;
        left: 30px;
        transition: 0.1s;
        z-index: 1;

    }


    .locationDetails_title {
        position: relative;
        color: #EDC681;
        font-weight: 200;
        font-size: 22px;
        margin: 0;
        height: 36%;
        align-self: center;
    }

    /*---------FORM START---------*/


    .contact_form {
        position: relative;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        flex-flow: column;

    }



    .form_inputs {
        position: relative;
        width: 70%;
        height: 20px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background-color: transparent;
        color: #EDC681;
        padding-left: 15px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }

    .cleaningLocationTitle {
        position: relative;
        color: #EDC681;
        font-weight: 300;
        margin: 0;
        margin-left: 40px;
        align-self: flex-start;
    }

    .short_description_box {
        position: relative;
        width: 70%;
        height: 20%;
        border: none;
        border: 1px solid #EDC681;
        background-color: transparent;
        color: #fff;
        padding: 7px;

    }

    /*---------BOTTOM BUTTON---------*/


    .findcleaner_buttonWrap {
        position: relative;
        height: 15%;

    }

    .findcleaner_button {
        position: relative;
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: transparent;
        border: none;
        border-top: 1px solid #EDC681;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 1.2em;
        text-transform: uppercase;
        transition: 0.1s;

    }


    /*---------FORM PLACEHOLDERS---------*/


    textarea::-webkit-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.2em;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        text-align: center;
        font-size: 1.2em;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        text-align: center;
        font-size: 1.2em;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-ms-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.2em;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.2em;
        font-weight: 100;
        opacity: 0.7;
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: #fff;
        font-weight: 300;
        font-family: 'Lato', sans-serif;

    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
        font-weight: 300;
        font-family: 'Lato', sans-serif;

    }

    ::placeholder {
        color: #fff;
        font-weight: 300;
        font-family: 'Lato', sans-serif;

    }

    /*---------** MOVING IN/OUT FORM **---------*/


    .movingInOut_blurb {
        position: relative;
        color: #EDC681;
        font-weight: 200;
        font-size: 16.5px;
        text-align: center;
        height: 36%;
    }

    .movingInOut_contact_form {
        position: relative;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        flex-flow: column;

    }

    /*---------DATE/TIME STYLES---------*/


    .dateTime_input {
        text-align: center;
    }

    ::-webkit-datetime-edit {
        padding: 1em;
    }

    ::-webkit-datetime-edit-fields-wrapper {
        background: transparent;
    }

    ::-webkit-datetime-edit-text {
        color: #fff;
        padding: 0 0.3em;
    }

    ::-webkit-datetime-edit-month-field {
        color: #EDC681;
    }

    ::-webkit-datetime-edit-day-field {
        color: #EDC681;
    }

    ::-webkit-datetime-edit-year-field {
        color: #EDC681;
    }

    ::-webkit-inner-spin-button {
        display: none;
    }

    ::-webkit-calendar-picker-indicator {
        display: none;
    }

    .bookCleaner_buttonWrap {
        position: relative;
        height: 15%;

    }

    /*---------BOTTOM NEXT BUTTON---------*/


    .bookCleaner_button {
        position: relative;
        width: 100%;
        height: 100%;
        color: #fff;
        border-top: 1px solid #EDC681;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 1.2em;
        text-transform: uppercase;
        transition: 0.1s;

    }

    /*---------** MAPS PAGE **---------*/



    .cancelCleaner_areYouSure {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 1.7em;
    }

    .answer_yes,
    .answer_no {
        position: absolute;
        bottom: 17%;
        font-size: 1.3em;
        font-weight: 300;


    }

    .answer_yes {
        left: 30%;
        
    }

    .answer_no {
        right: 30%;
    }


    .cleanerOnTheWay_title {
        position: relative;
        color: #EDC681;
        font-weight: 200;
        font-size: 22px;
        margin: 0;
        height: 36%;
        align-self: center;
    }

    .cleanerSubtitle {
        position: relative;
        color: #fff;
        text-align: center;
        font-weight: 300;
        font-size: 12px;
    }


    /*---------END OF TITLE DOT ANIMATION---------*/

    .dot1,
    .dot2,
    .dot3,
    .dot4 {
        -webkit-animation: fadein 1s ease-in alternate infinite;
        -moz-animation: fadein 1s ease-in alternate infinite;
        animation: fadein 1s ease-in alternate infinite;
    }

    .dot2 {
        animation-delay: 0.3s;
    }

    .dot3 {
        animation-delay: 0.6s;
    }

    .dot3 {
        animation-delay: 0.9s;
    }



    @-webkit-keyframes fadein {
        from {
            opacity: 0.3;
        }

        to {
            opacity: 1;

        }
    }

    @-moz-keyframes fadein {
        from {
            opacity: 0.3;
        }

        to {
            opacity: 1;

        }
    }

    @keyframes fadein {
        from {
            opacity: 0.3;
        }

        to {
            opacity: 1;

        }
    }


    #mapWrap {
        position: relative;
        width: 100%;
        height: 25%;

    }

    #map {
        position: relative;
        height: 100%;
        width: 100%;
    }

    /*---------CLEANER INFORMATION---------*/


    .cleaner_information {
        position: relative;

        width: 100%;
        height: 45%;
    }

    .cleanerForToday_title {
        position: relative;
        color: #fff;
        font-size: 1.2em;
        text-align: center;
    }

    .cleaner_name {
        position: relative;
        color: #fff;
        font-weight: 300;
        text-align: center;
        margin: 0;

    }

    hr {
        width: 50%;
    }

    .service_type_wrap,
    .numberOfRooms_wrap {
        position: relative;
        width: 100%;
        height: 20%;

        display: flex;
    }

    .service,
    .service_type,
    .noOfRooms,
    .roomsInfo_wrap {
        position: relative;
        color: #fff;
        margin: 0;
        font-size: 1em;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .roomsInfo_wrap {
        flex-flow: column;
    }

    .service_type {
        font-weight: 300;

    }

    .roomsInfo,
    .roomsInfo2 {
        position: relative;
        width: 100%;
        height: 50%;

        font-weight: 300;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .leave_tip_wrap {
        position: relative;
        width: 100%;
        height: 22%;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    .TIPbutton {
        position: absolute;
        width: 65%;
        height: 50%;
        color: #fff;
        font-weight: 300;
        opacity: 0.7;
        border: none;
        border-radius: 100px;
        background: #181717;
        box-shadow: -12px 12px 23px #121212,
            12px -12px 23px #1e1c1c;
        outline: none;
    }


    /*---------CANCEL CLEANER BUTTON---------*/



    .cancelCleaner_buttonWrap {
        position: relative;
        height: 15%;

    }

    .cancelCleaner_button {
        position: relative;
        width: 100%;
        height: 100%;
        color: #fff;
        border-top: 1px solid #EDC681;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 1.2em;
        text-transform: uppercase;
        transition: 0.1s;
        z-index: 1;

    }


}

/*---HOVERS AND SUCH---*/

.addButton:active {
    background-color: rgb(143, 116, 69);
}

.tap_to_select:active>.cleaning_title_big {
    color: #EDC681;
}

.deepClean_tap_to_select:active>.deepCleaning_title_big {
    color: #EDC681;
}

.movingInOut_tap_to_select:active>.movingInOut_title_big {
    color: #EDC681;
}


.nextbutton:active>.rightArrow {
    transform: translateX(20px);
}

.previousbutton:active>.leftArrow {
    transform: translateX(20px);
}

.addRoom:active {
    border-radius: 100px 0px 0px 100px;
    background: #181717;
    box-shadow: inset -13px 13px 26px #121111,
        inset 13px -13px 26px #1e1d1d;
    color: #EDC68180;
}

.subtractRoom:active {
    border-radius: 0px 100px 100px 0px;
    background: #181717;
    box-shadow: inset -13px 13px 26px #121111,
        inset 13px -13px 26px #1e1d1d;
    color: #EDC68180;

}

#nextButton_toForm:active>.right_arrow_button {
    transform: translateX(15px);
}

#previousButton:active>.left_arrow_button {
    transform: translateX(15px);
}

.findcleaner_button:active,
.bookCleaner_button:active {
    color: #000;
    background-color: #EDC681;
}

.backToPreviousButton:active {
    transform: translateX(20px);
}

#toBasicClean_button:active,
#toDeepClean_button:active,
#toMovingInOut_button:active {
    animation-name: flash;
    background-color: #fff;
}

.form_inputs:focus {
    border-bottom: 1px solid #EDC681;
}

.TIPbutton:active {
    background-color: #EDC681;
}

.cancelCleaner_button:active {
    background-color: #FF6961;
}