body,
html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column;
    font-family: 'Lato', sans-serif;
    background-color: #181717;
}


.link_styles {
    text-decoration: none;
    outline: none;
}

.gold_text {
    color: #EDC681;
}

.border_width {
    border-width: 8px;

}

@media only screen and (min-device-width : 320px) {

    .button_wrap__ipad,
    .services_wrap__desktop,
    .bottom_wrap__desktop {
        display: none;
    }

    body {
        overflow: hidden;
        justify-content: space-between;
    }

    .top_contents_wrapper {
        position: relative;
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;


    }

    .index_logo {
        width: 35px;
        height: 35px;
        animation-name: logoSpin;
        animation-delay: 1000ms;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    @keyframes logoSpin {

        0% {
            transform: rotate(0deg)
        }

        20% {
            transform: rotate(360deg)
        }

        100% {
            transform: rotate(360deg)
        }
    }


    .tap_to_select {
        color: #fff;
        font-size: 10px;
        margin-top: 5px;
    }


    /*-----SERVICE CONTENTS-----*/
    .slick_wrap {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .basic_clean_wrap,
    .deep_clean_wrap,
    .moving_in_out_wrap {
        width: 100%;
        height: 100%;
        margin-top: 11px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column;
        transition: 0.1s;

    }

    .basic_clean_image,
    .deep_clean_image,
    .moving_in_out_image {
        position: relative;
        margin: auto;
        height: 120px;
    }

    .basic_clean_title,
    .deep_clean_title,
    .moving_in_out_title {
        position: relative;
        color: #fff;
        text-align: center;
        font-weight: 400;
        margin: 13px 0px;
    }

    .basic_clean_blurb,
    .deep_clean_blurb,
    .moving_in_out_blurb {
        position: relative;
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        text-align: center;
        margin: 0;

    }

    /*-----//  SERVICE CONTENTS-----*/


    /*-----NEXT/PREVIOUS BUTTONS-----*/
    .button_wrap {
        position: relative;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .next_button,
    .previous_button {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        border: none;


    }

    .next_button {
        margin-right: 20px;
    }

    .previous_button {
        margin-left: 20px;
        background-color: transparent;

    }

    .next_arrow_icon,
    .previous_arrow_icon {
        height: 27px;
        opacity: 0.3;
        transition: 0.3s;
    }

    .to_select_service_text {
        color: #EDC681;
        text-align: center;
        font-size: 0.8em;
        /*--Opacity set to 0, JS sets to 1 on window load--*/
    }

    /*-----// NEXT/PREVIOUS BUTTONS-----*/

    /*---------** HOW MANY ROOMS PAGE **---------*/
    /*-----TOP CONTENTS-----*/

    .top_contents_wrapper__rooms {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .how_many_rooms_title {
        color: #EDC681;
        margin: 0;
        font-size: 22px;
        font-weight: 200;
    }

    /*-----//  TOP CONTENTS-----*/
    /*-----ROOM TYPE COUNTERS-----*/
    .room_type_wrap {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column;
    }

    .counter_title {
        width: 85%;
        color: #fff;
        text-align: center;
        font-size: 1em;
    }

    .counter_title_underline {
        width: 55%;
        margin: 0;
        border: 0.8px solid #EDC681;
    }


    .counter_wrap {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .addRoom,
    .subtractRoom {
        width: 50px;
        height: 44.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 0px;
        background: linear-gradient(145deg, #1a1919, #161515);
        box-shadow: 5px 5px 0px #161515,
            -5px -5px 0px #1a1919;
    }

    .counter_down_arrow,
    .counter_up_arrow {
        height: 20px;
    }

    #rooms_amount_bedroom,
    #rooms_amount_bathrooms,
    #rooms_amount_kitchens {
        border: none;
        height: 40px;
        width: 50%;
        font-size: 1.2em;
        background: transparent;
        color: #fff;
        text-align: center;
    }

    /*-----//  ROOM TYPE COUNTERS-----*/
    /*-----NEXT/PREVIOUS BUTTONS-----*/
    .next_prev_button_wrap {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
    }

    .previous_button__rooms,
    .next_button__rooms {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        border: none;
    }

    .next_button__rooms {
        margin-right: 15px;
    }

    .previous_button__rooms {
        margin-left: 15px;
    }

    .to_select_service_text__rooms {
        color: #fff;
        margin: 0;
        text-align: center;
        font-size: 0.7em;
        font-weight: 200;
    }

    .next_arrow_icon__rooms,
    .previous_arrow_icon__rooms {
        height: 27px;
        transition: 0.1s;
    }

    /*-----//  NEXT/PREVIOUS BUTTONS-----*/

    /*---------** CONTACT FORM PAGE **---------*/

    #contact_form_body {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /*-----TOP CONTENTS-----*/
    .top_contents_wrapper__form {
        position: relative;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .location_details_title {
        color: #EDC681;
        margin: 0;
        font-size: 22px;
        font-weight: 200;

    }

    /*-----//  TOP CONTENTS-----*/
    /*-----CONTACT FORM-----*/

    .contact_form {
        width: 90%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;

    }

    .form_inputs {
        width: 85%;
        height: 20px;
        border: none;
        padding-left: 15px;
        border-bottom: 1px solid #EDC681;
        outline: none;
        color: #fff;
        background-color: transparent;
    }

    .cleaning_location_title {
        color: #EDC681;
        font-weight: 100;
        margin: 5px 0px;
    }

    .short_description_box {
        background: transparent;
        width: 80%;
        height: 20%;
        border: 0.5px solid #EDC681;
    }

    .submit_form_button {
        width: 100%;
        height: 10%;
        color: #fff;
        background-color: transparent;
        border: none;
        border-left: 1px solid #EDC681;
        border-right: 1px solid #EDC681;
        transition: 0.1s;
    }

    /*-----// CONTACT FORM-----*/
    /*-----FORM PLACEHOLDERS-----*/
    textarea::-webkit-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 1em;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        text-align: center;
        font-size: 1em;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        text-align: center;
        font-size: 1em;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-ms-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 1em;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::placeholder {
        color: #fff;
        text-align: center;
        font-size: 1em;
        font-weight: 100;
        opacity: 0.7;
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: #fff;
        font-weight: 300;
        font-family: 'Lato', sans-serif;

    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
        font-weight: 300;
        font-family: 'Lato', sans-serif;

    }

    ::placeholder {
        color: #fff;
        font-weight: 300;
        font-family: 'Lato', sans-serif;
    }

    /*-----// FORM PLACEHOLDERS-----*/

    /*---------** MOVING IN/OUT FORM **---------*/


    .movingInOut_contact_form {
        position: relative;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        flex-flow: column;

    }

    /*---------DATE/TIME STYLES---------*/


    .dateTime_input {
        text-align: center;
    }

    ::-webkit-datetime-edit {
        padding: 1em;
    }

    ::-webkit-datetime-edit-fields-wrapper {
        background: transparent;
    }

    ::-webkit-datetime-edit-text {
        color: #fff;
        padding: 0 0.3em;
    }

    ::-webkit-datetime-edit-month-field {
        color: #EDC681;
    }

    ::-webkit-datetime-edit-day-field {
        color: #EDC681;
    }

    ::-webkit-datetime-edit-year-field {
        color: #EDC681;
    }

    ::-webkit-inner-spin-button {
        display: none;
    }

    ::-webkit-calendar-picker-indicator {
        display: none;
    }

    .bookCleaner_buttonWrap {
        position: relative;
        height: 15%;

    }

    /*---------BOTTOM NEXT BUTTON---------*/


    .bookCleaner_button {
        position: relative;
        width: 100%;
        height: 100%;
        color: #fff;
        border-top: 1px solid #EDC681;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 1.2em;
        text-transform: uppercase;
        transition: 0.1s;

    }

    /*---------** MAPS PAGE **---------*/



    .cancelCleaner_areYouSure {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 1.7em;
    }

    .answer_yes,
    .answer_no {
        position: absolute;
        bottom: 17%;
        font-size: 1.3em;
        font-weight: 300;


    }

    .answer_yes {
        left: 30%;

    }

    .answer_no {
        right: 30%;
    }


    .cleanerOnTheWay_title {
        position: relative;
        color: #EDC681;
        font-weight: 200;
        font-size: 22px;
        margin: 0;
        height: 36%;
        align-self: center;
    }

    .cleanerSubtitle {
        position: relative;
        color: #fff;
        text-align: center;
        font-weight: 300;
        font-size: 12px;
    }


    /*---------END OF TITLE DOT ANIMATION---------*/

    .dot1,
    .dot2,
    .dot3,
    .dot4 {
        -webkit-animation: fadein 1s ease-in alternate infinite;
        -moz-animation: fadein 1s ease-in alternate infinite;
        animation: fadein 1s ease-in alternate infinite;
    }

    .dot2 {
        animation-delay: 0.3s;
    }

    .dot3 {
        animation-delay: 0.6s;
    }

    .dot3 {
        animation-delay: 0.9s;
    }



    @-webkit-keyframes fadein {
        from {
            opacity: 0.3;
        }

        to {
            opacity: 1;

        }
    }

    @-moz-keyframes fadein {
        from {
            opacity: 0.3;
        }

        to {
            opacity: 1;

        }
    }

    @keyframes fadein {
        from {
            opacity: 0.3;
        }

        to {
            opacity: 1;

        }
    }


    #mapWrap {
        position: relative;
        width: 100%;
        height: 25%;

    }

    #map {
        position: relative;
        height: 100%;
        width: 100%;
    }

    /*---------CLEANER INFORMATION---------*/


    .cleaner_information {
        position: relative;

        width: 100%;
        height: 45%;
    }

    .cleanerForToday_title {
        position: relative;
        color: #fff;
        font-size: 1.2em;
        text-align: center;
    }

    .cleaner_name {
        position: relative;
        color: #fff;
        font-weight: 300;
        text-align: center;
        margin: 0;

    }

    hr {
        width: 50%;
    }

    .service_type_wrap,
    .numberOfRooms_wrap {
        position: relative;
        width: 100%;
        height: 20%;

        display: flex;
    }

    .service,
    .service_type,
    .noOfRooms,
    .roomsInfo_wrap {
        position: relative;
        color: #fff;
        margin: 0;
        font-size: 1em;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .roomsInfo_wrap {
        flex-flow: column;
    }

    .service_type {
        font-weight: 300;

    }

    .roomsInfo,
    .roomsInfo2 {
        position: relative;
        width: 100%;
        height: 50%;

        font-weight: 300;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .leave_tip_wrap {
        position: relative;
        width: 100%;
        height: 22%;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    .TIPbutton {
        position: absolute;
        width: 65%;
        height: 50%;
        color: #fff;
        font-weight: 300;
        opacity: 0.7;
        border: none;
        border-radius: 100px;
        background: #181717;
        box-shadow: -12px 12px 23px #121212,
            12px -12px 23px #1e1c1c;
        outline: none;
    }


    /*---------CANCEL CLEANER BUTTON---------*/



    .cancelCleaner_buttonWrap {
        position: relative;
        height: 15%;

    }

    .cancelCleaner_button {
        position: relative;
        width: 100%;
        height: 100%;
        color: #fff;
        border-top: 1px solid #EDC681;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 1.2em;
        text-transform: uppercase;
        transition: 0.1s;
        z-index: 1;

    }


}

@media only screen and (min-device-width : 375px) {

    .slick_wrap {
        display: flex;
        align-items: center;

    }

    .basic_clean_wrap,
    .deep_clean_wrap,
    .moving_in_out_wrap {
        margin-top: 36px;

    }



}

@media only screen and (min-device-width : 414px) {


    .slick_wrap {}

    .basic_clean_wrap,
    .deep_clean_wrap,
    .moving_in_out_wrap {
        margin-top: 45px;
    }
}

@media only screen and (min-device-height : 812px) {

    .basic_clean_wrap,
    .deep_clean_wrap,
    .moving_in_out_wrap {
        margin-top: 80px;
    }
}

/* iPad ----------- */
@media only screen and (min-device-width : 768px) {

    .button_wrap {
        /*--HIDES BUTTON WRAP FROM IPAD DISPLAY---*/
        display: none;
    }

    /*---TOP CONTENTS---*/
    .top_contents_wrapper {
        height: 20%;
    }

    .index_logo {
        width: 60px;
        height: 60px;
    }

    .tap_to_select {
        font-size: 15px;
    }


    /*---//  TOP CONTENTS---*/
    /*---SERVICE CONTENTS---*/
    .basic_clean_image,
    .deep_clean_image,
    .moving_in_out_image {
        height: 150px;
    }

    .basic_clean_blurb,
    .deep_clean_blurb,
    .moving_in_out_blurb {
        font-size: 20px;
    }

    /*---//  SERVICE CONTENTS---*/

    /*---NEXT/PREVIOUS BUTTONS---*/
    .button_wrap__ipad {
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;

    }

    .next_button,
    .previous_button {
        width: 120px;
        height: 70px;
    }

    .next_arrow_icon,
    .previous_arrow_icon {
        height: 50px;
    }

    .to_select_service_text__ipad {
        color: #EDC681;
        font-size: 1.3em;
        font-weight: 200;
    }

    /*---//  NEXT/PREVIOUS BUTTONS---*/

    /*------------**HOW MANY ROOMS PAGE**-----------*/
    /*-----ROOM TYPE COUNTERS-----*/
    .how_many_rooms_title {
        font-size: 2em;
    }

    .room_type_wrap {
        justify-content: space-evenly;
    }

    .counter_wrap {
        justify-content: space-around;
    }

    .counter_title {
        font-size: 1.3em;
    }

    .addRoom,
    .subtractRoom {
        width: 100px;
        height: 100px;
    }

    .counter_up_arrow,
    .counter_down_arrow {
        height: 30px;
    }

    #rooms_amount_bedroom,
    #rooms_amount_bathrooms,
    #rooms_amount_kitchens {
        height: 50px;
        width: 55%;
        font-size: 1.5em;

    }

    /*-----//  ROOM TYPE COUNTERS-----*/
    /*-----NEXT/PREVIOUS BUTTONS-----*/
    .to_select_service_text__rooms {
        font-size: 1.4em;
    }

    .previous_button__rooms,
    .next_button__rooms {
        width: 100px;
        height: 100px;

    }

    .next_arrow_icon__rooms,
    .previous_arrow_icon__rooms {
        height: 40px;
    }

    /*-----//  NEXT/PREVIOUS BUTTONS-----*/
    /*------------//  **HOW MANY ROOMS PAGE**-----------*/

    /*------------**LOCATION FORM PAGE**-----------*/


    .location_details_title {
        font-size: 30px;
    }

    .contact_form {
        width: 80%;
    }

    .cleaning_location_title {
        font-size: 25px;
        margin: 0;
    }

    .submit_form_button {
        font-size: 1.4em;
    }

    /*-----FORM PLACEHOLDERS-----*/
    textarea::-webkit-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.5em;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        text-align: center;
        font-size: 1.5em;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        text-align: center;
        font-size: 1.5em;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-ms-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.5em;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.5em;
        font-weight: 100;
        opacity: 0.7;
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: #fff;
        font-weight: 300;
        font-size: 1.3em;
        font-family: 'Lato', sans-serif;

    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
        font-weight: 300;
        font-size: 1.3em;
        font-family: 'Lato', sans-serif;

    }

    ::placeholder {
        color: #fff;
        font-weight: 300;
        font-size: 1.3em;
        font-family: 'Lato', sans-serif;
    }

    /*-----// FORM PLACEHOLDERS-----*/
    /*------------//  **LOCATION FORM PAGE**-----------*/



}

/* iPad Pro ----------- */
@media only screen and (min-device-width : 1024px) {

    /*---TOP CONTENTS---*/
    .index_logo {
        width: 100px;
        height: 100px;
    }

    .tap_to_select {
        font-size: 22px;
    }

    /*---//  TOP CONTENTS---*/
    /*---SERVICE CONTENTS---*/
    .basic_clean_image,
    .deep_clean_image,
    .moving_in_out_image {
        height: 200px;
    }

    .basic_clean_title,
    .deep_clean_title,
    .moving_in_out_title {
        font-size: 3em;
    }

    .basic_clean_blurb,
    .deep_clean_blurb,
    .moving_in_out_blurb {
        font-size: 30px;
    }

    /*---//  SERVICE CONTENTS---*/
    /*---NEXT/PREVIOUS BUTTONS---*/
    .next_button,
    .previous_button {
        width: 160px;
        height: 100px;

    }

    .next_arrow_icon,
    .previous_arrow_icon {
        height: 80px;
    }

    .to_select_service_text__ipad {
        color: #EDC681;
        font-size: 1.8em;
        font-weight: 200;
    }

    /*---//  NEXT/PREVIOUS BUTTONS---*/
    /*---------** HOW MANY ROOMS START **---------*/



    .how_many_rooms_title {
        font-size: 2.8em;
    }

    .counter_title {
        font-size: 1.8em;
    }

    .addRoom,
    .subtractRoom {
        width: 120px;
        height: 120px;
    }

    .counter_down_arrow,
    .counter_up_arrow {
        height: 40px;
    }

    #rooms_amount_bedroom,
    #rooms_amount_bathrooms,
    #rooms_amount_kitchens {
        height: 55px;
        font-size: 2em;

    }

    .next_prev_button_wrap {
        justify-content: space-around;
        opacity: 0;
    }

    .to_select_service_text__rooms {
        font-size: 1.8em;
        color: #fff;
    }


    .next_arrow_icon__rooms,
    .previous_arrow_icon__rooms {
        height: 60px;
    }

    /*---------//  ** HOW MANY ROOMS START **---------*/


}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

    .slick_wrap,
    .button_wrap__ipad {
        /*---HIDES ELEMTS FROM DESKTOP VIEW---*/
        display: none !important;
    }


    /*---TOP CONTENTS---*/
    .top_contents_wrapper {
        height: 15%;

    }

    .index_logo {
        width: 40px;
        height: 40px;
    }

    .tap_to_select {
        font-size: 13px;
    }

    /*---//  TOP CONTENTS---*/
    /*---SERVICE CONTENTS---*/

    .services_wrap__desktop {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .basic_clean_wrap__desktop,
    .deep_clean_wrap__desktop,
    .moving_in_out_wrap__desktop {
        width: 33.33%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        cursor: pointer;
        opacity: 0;
        border-radius: 0px;
        background: linear-gradient(145deg, #1a1919, #161515);
        box-shadow: 5px 5px 10px #161515,
            -5px -5px 10px #1a1919;

    }

    .basic_clean_title__desktop,
    .deep_clean_title__desktop,
    .moving_in_out_title__desktop {
        color: #fff;
        text-align: center;
        font-size: 2em;
    }

    .basic_clean_blurb__desktop,
    .deep_clean_blurb__desktop,
    .moving_in_out_blurb__desktop {
        color: #fff;
        font-size: 20px;
        font-weight: 200;
        text-align: center;
        margin: 0;
    }

    /*---//  SERVICE CONTENTS---*/
    /*---BOTTOM DESKTOP CONTENTS---*/
    .bottom_wrap__desktop {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        opacity: 0;

    }

    /*---//  BOTTOM DESKTOP CONTENTS---*/
    /*---------** HOW MANY ROOMS START **---------*/

    body {
        align-items: center;
    }

    .counter_title_underline {
        border: 0.5px solid #EDC681;
        transform: rotate(90deg);
        width: 30px;
        display: none;

    }

    .how_many_rooms_title {
        font-size: 2em;
        /*---Opacity set to 0, resets to 1 on window load---*/
        opacity: 0;
    }

    .room_type_wrap {
        width: 50%;
    }

    .counter_wrap {
        justify-content: space-evenly;
    }

    .counter_title {
        font-size: 1.1em;
    }


    .addRoom,
    .subtractRoom {
        width: 80px;
        height: 80px;
    }

    #rooms_amount_bedroom,
    #rooms_amount_bathrooms,
    #rooms_amount_kitchens {
        border-left: 0.5px solid #EDC681;
        border-right: 0.5px solid #EDC681;

    }

    .next_prev_button_wrap {
        font-size: 0.7em;
        justify-content: space-evenly;

    }

    .next_button__rooms,
    .previous_button__rooms {
        cursor: pointer;
    }

    /*---------//  ** HOW MANY ROOMS START **---------*/


}


/*---:HOVERS/:ACTIVES---*/


.nextbutton:active>.rightArrow {
    transform: translateX(20px);
}

.previousbutton:active>.leftArrow {
    transform: translateX(20px);
}


#nextButton_toForm:active>.right_arrow_button {
    transform: translateX(15px);
}

#previousButton:active>.left_arrow_button {
    transform: translateX(15px);
}


.bookCleaner_button:active {
    color: #000;
    background-color: #EDC681;
    border-width: 50px;

}




.TIPbutton:active {
    background-color: #EDC681;
}

.cancelCleaner_button:active {
    background-color: #FF6961;
}

.next_button:active>.next_arrow_icon {
    transform: translateX(20px);
    opacity: 1;
}

.previous_button:active>.previous_arrow_icon {
    transform: translateX(20px);
    opacity: 1;
}


.basic_clean_wrap__desktop:hover,
.deep_clean_wrap__desktop:hover,
.moving_in_out_wrap__desktop:hover {
    border-top: 1px solid #EDC681;
    border-bottom: 1px solid #EDC681;
    transition: 0.3s;

}

.basic_clean_wrap__desktop:active,
.deep_clean_wrap__desktop:active,
.moving_in_out_wrap__desktop:active {
    border-radius: 0px;
    background: linear-gradient(145deg, #161515, #1a1919);
    box-shadow: 5px 5px 10px #161515,
        -5px -5px 10px #1a1919;
    border-top: 1px solid #EDC68164;
    border-bottom: 1px solid #EDC68164;
}


.basic_clean_wrap:active,
.deep_clean_wrap:active,
.moving_in_out_wrap:active {
    opacity: 0.5;
}

.next_button__rooms:active>.next_arrow_icon__rooms {
    opacity: 1;
    transform: translateX(5px);
}

.previous_button__rooms:active>.previous_arrow_icon__rooms {
    opacity: 1;
    transform: translateX(-5px);
}

.addRoom:active,
.subtractRoom:active {
    border-radius: 0px;
    background: linear-gradient(145deg, #161515, #1a1919);
    box-shadow: 5px 5px 0px #161515,
        -5px -5px 0px #1a1919;

}

.submit_form_button:active {
    border-width: 10px;

}