body,
html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column;
    font-family: 'Lato', sans-serif;
    background-color: #181717;
}


.link_styles {
    text-decoration: none;
    outline: none;
}

.gold_text {
    color: #EDC681;
}

.border_width {
    border-width: 8px;

}

.add_shadow {
    border-radius: 50%;
    background: linear-gradient(145deg, #fefeff, #d5d5d6);
    box-shadow: 5px 5px 10px #797979,
        -5px -5px 10px #ffffff;


}

@media only screen and (min-device-width : 320px) {

    .button_wrap__ipad,
    .services_wrap__desktop,
    .bottom_wrap__desktop {
        display: none;
    }

    body {
        overflow: hidden;
        justify-content: space-between;
    }

    .top_contents_wrapper {
        position: relative;
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;


    }

    .index_logo {
        width: 35px;
        height: 35px;
        animation-name: logoSpin;
        animation-delay: 1000ms;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    @keyframes logoSpin {

        0% {
            transform: rotate(0deg)
        }

        20% {
            transform: rotate(360deg)
        }

        100% {
            transform: rotate(360deg)
        }
    }


    .tap_to_select {
        color: #fff;
        font-size: 10px;
        margin-top: 5px;
    }


    /*-----SERVICE CONTENTS-----*/
    .slick_wrap {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .basic_clean_wrap,
    .deep_clean_wrap,
    .moving_in_out_wrap {
        width: 100%;
        height: 100%;
        margin-top: 11px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column;
        transition: 0.1s;

    }

    .basic_clean_image,
    .deep_clean_image,
    .moving_in_out_image {
        position: relative;
        margin: auto;
        height: 120px;
    }

    .basic_clean_title,
    .deep_clean_title,
    .moving_in_out_title {
        position: relative;
        color: #fff;
        text-align: center;
        font-weight: 400;
        margin: 13px 0px;
    }

    .basic_clean_blurb,
    .deep_clean_blurb,
    .moving_in_out_blurb {
        position: relative;
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        text-align: center;
        margin: 0;

    }

    /*-----//  SERVICE CONTENTS-----*/
    /*-----NEXT/PREVIOUS BUTTONS-----*/
    .button_wrap {
        position: relative;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .next_button,
    .previous_button {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        border: none;


    }

    .next_button {
        margin-right: 20px;
    }

    .previous_button {
        margin-left: 20px;
        background-color: transparent;

    }

    .next_arrow_icon,
    .previous_arrow_icon {
        height: 27px;
        opacity: 0.3;
        transition: 0.3s;
    }

    .to_select_service_text {
        color: #EDC681;
        text-align: center;
        font-size: 0.8em;
    }

    /*-----// NEXT/PREVIOUS BUTTONS-----*/



    /*---------** HOW MANY ROOMS PAGE **---------*/
    /*-----TOP CONTENTS-----*/
    .top_contents_wrapper__rooms {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .how_many_rooms_title {
        color: #EDC681;
        margin: 0;
        font-size: 22px;
        font-weight: 200;
    }

    /*-----//  TOP CONTENTS-----*/
    /*-----ROOM TYPE COUNTERS-----*/
    .room_type_wrap {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column;
    }

    .counter_title {
        width: 85%;
        color: #fff;
        text-align: center;
        font-size: 1em;
    }

    .counter_title_underline {
        width: 55%;
        margin: 0;
        border: 0.8px solid #EDC681;
    }


    .counter_wrap {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .addRoom,
    .subtractRoom {
        width: 50px;
        height: 44.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 0px;
        background: linear-gradient(145deg, #1a1919, #161515);
        box-shadow: 5px 5px 0px #161515,
            -5px -5px 0px #1a1919;
    }

    .counter_down_arrow,
    .counter_up_arrow {
        height: 20px;
    }

    #rooms_amount_bedroom,
    #rooms_amount_bathrooms,
    #rooms_amount_kitchens {
        border: none;
        height: 40px;
        width: 50%;
        font-size: 1.2em;
        background: transparent;
        color: #fff;
        text-align: center;
    }

    /*-----//  ROOM TYPE COUNTERS-----*/
    /*-----NEXT/PREVIOUS BUTTONS-----*/
    .next_prev_button_wrap {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
    }

    .previous_button__rooms,
    .next_button__rooms {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        border: none;
    }

    .next_button__rooms {
        margin-right: 15px;
    }

    .previous_button__rooms {
        margin-left: 15px;
    }

    .to_select_service_text__rooms {
        color: #fff;
        margin: 0;
        text-align: center;
        font-size: 0.7em;
        font-weight: 200;
    }

    .next_arrow_icon__rooms,
    .previous_arrow_icon__rooms {
        height: 27px;
        transition: 0.1s;
    }

    /*-----//  NEXT/PREVIOUS BUTTONS-----*/



    /*---------** CONTACT FORM PAGE **---------*/

    #contact_form_body {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /*-----TOP CONTENTS-----*/
    .top_contents_wrapper__form {
        position: relative;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .location_details_title {
        color: #EDC681;
        margin: 0;
        font-size: 22px;
        font-weight: 200;

    }

    .back_button {
        position: absolute;
        left: 20px;
        height: 30px;
    }

    /*-----//  TOP CONTENTS-----*/
    /*-----CONTACT FORM-----*/

    .contact_form {
        width: 90%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;

    }

    .form_inputs {
        width: 85%;
        height: 30px;
        border: none;
        font-size: 1em;
        padding-left: 10px;
        border-bottom: 1px solid #EDC681;
        outline: none;
        color: #fff;
        background-color: transparent;
    }

    .cleaning_location_title {
        color: #EDC681;
        font-weight: 100;
        margin: 5px 0px;
    }

    .short_description_box {
        background: transparent;
        color: #fff;
        padding: 10px;
        font-size: 22px;
        font-weight: 200;
        width: 80%;
        height: 20%;
        outline: none;
        border: 0.5px solid #EDC681;
        font-family: 'Lato', sans-serif;
        resize: none;

    }

    .submit_form_button {
        width: 100%;
        height: 10%;
        color: #fff;
        background-color: transparent;
        border: none;
        border-left: 1px solid #EDC681;
        border-right: 1px solid #EDC681;
        transition: 0.1s;
    }

    /*-----// CONTACT FORM-----*/
    /*-----FORM PLACEHOLDERS-----*/
    textarea::-webkit-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 0.7em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        text-align: center;
        font-size: 0.7em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        text-align: center;
        font-size: 0.7em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-ms-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 0.7em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::placeholder {
        color: #fff;
        text-align: center;
        font-size: 0.7em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: #fff;
        opacity: 0.5;
        font-weight: 300;
        font-family: 'Lato', sans-serif;

    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
        opacity: 0.5;
        font-weight: 300;
        font-family: 'Lato', sans-serif;

    }

    ::placeholder {
        color: #fff;
        opacity: 0.5;
        font-weight: 300;
        font-size: 0.9em;
        font-family: 'Lato', sans-serif;
    }

    /*-----// FORM PLACEHOLDERS-----*/



    /*---------** MOVING IN/OUT PAGE **---------*/

    #moving_in_out_body {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    /*-----TOP CONTENTS-----*/
    .top_contents_wrap__movingform {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .moving_details_title {
        color: #EDC681;
        font-size: 22px;
        font-weight: 200;
    }

    /*-----//  TOP CONTENTS-----*/
    /*-----MOVING IN/OUT FORM-----*/
    .moving_contact_form {
        width: 80%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;
    }

    .form_inputs__movingform {
        width: 85%;
        height: 30px;
        border: none;
        font-size: 1em;
        padding-left: 10px;
        border-bottom: 1px solid #EDC681;
        outline: none;
        color: #fff;
        text-transform: uppercase;
        background-color: transparent;

    }

    .cleaning_location_title__movingform {
        color: #EDC681;
        font-weight: 100;
        margin: 5px 0px;

    }

    #submit_button__movingform {
        width: 100%;
        height: 10%;
        color: #fff;
        background-color: transparent;
        border: none;
        border-left: 1px solid #EDC681;
        border-right: 1px solid #EDC681;
        transition: 0.1s;


    }

    /*-----// MOVING IN/OUT FORM-----*/
    /*-----DATE/TIME STYLES-----*/
    .dateTime_input {
        text-align: center;
    }

    ::-webkit-datetime-edit {
        padding: 1em;
    }

    ::-webkit-datetime-edit-fields-wrapper {
        background: transparent;
    }

    ::-webkit-datetime-edit-text {
        color: #fff;
        padding: 0 0.3em;
    }

    ::-webkit-datetime-edit-month-field {
        color: #EDC681;
    }

    ::-webkit-datetime-edit-day-field {
        color: #EDC681;
    }

    ::-webkit-datetime-edit-year-field {
        color: #EDC681;
    }

    ::-webkit-inner-spin-button {
        display: none;
    }

    ::-webkit-calendar-picker-indicator {
        display: none;
    }

    /*-----//  DATE/TIME STYLES-----*/



    /*---------** GOOGLE MAPS API PAGE **---------*/
    /*-----SLIDE CONTENTS-----*/

    .slide_info {
        position: absolute;
        width: 100%;
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #181717;

    }

    .cleaner_info_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin-top: 7px;

    }

    .cleaner_info {
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        margin: 0;
    }

    .cleaner_name {
        color: #EDC681;
        font-weight: 200;
        margin: 0;

    }

    /*-----//  SLIDE CONTENTS-----*/
    /*-----CHOSEN SERVICE INFO-----*/

    .chosen_service_wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: column;
        width: 100%;
        height: 70%;
        visibility: hidden;


    }

    .your_service_wrap,
    .your_service_rooms_wrap,
    .cleaner_will_be_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        width: 150px;
        height: 75px;
        border-radius: 0px;
        background: linear-gradient(145deg, #161515, #1a1919);
        box-shadow: 12px 12px 24px #121111,
            -12px -12px 24px #1e1d1d;
    }

    .your_service,
    .your_service_rooms,
    .cleaner_will_be {
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        margin: 0;
    }

    .cleaner_will_be {
        margin-bottom: 5px;
    }

    .service_type_wrap,
    .room_type_wrap__maps,
    .chosen_cleaner_wrap {
        width: 65%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        text-align: center;
    }

    .chosen_cleaner_wrap {
        flex-flow: row;
        justify-content: space-evenly;
    }

    .chosen_service,
    .chosen_service__room_types {
        color: #EDC681;
        margin: 0;
        font-weight: 200;
    }

    .cleaner_avatar {
        height: 30px;
        border-radius: 100px;
    }

    .info_line {
        border: 0.5px solid #EDC681;
        width: 20px;
        margin-top: 10px;
    }


    /*-----//  CHOSEN SERVICE INFO-----*/
    /*-----TAP FOR MAP BUTTON-----*/

    .tap_for_map {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #EDC681;
        font-size: 1em;
        font-weight: 200;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        opacity: 0;

    }

    /*-----//  TAP FOR MAP BUTTON-----*/
    /*-----GOOGLE MAP API STYLEs-----*/
    #maps_body {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .map_wrap {
        height: 100%;
        width: 100%;

    }

    #map {
        width: 100%;
        height: 100%;

    }

    /*-----// GOOGLE MAP API STYLES-----*/
    /*-----CANCEL CLEANER BUTTON-----*/
    .cancel_cleaner_button {
        width: 100%;
        height: 15%;
        color: #fff;
        cursor: pointer;
        background: transparent;
        border: none;
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    /*-----//  CANCEL CLEANER BUTTON-----*/
    /*-----OPEN/CLOSE SIDE INFO BUTTON-----*/

    .open_close_info_button {
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 40px;
        top: 50px;
        right: 10px;
        font-family: 'Courgette', cursive;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.6em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background-color: #181717;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }


    .info_icon {
        height: 27px;
    }

    /*-----//  OPEN/CLOSE SIDE INFO BUTTON-----*/
    /*---------//  ** GOOGLE MAPS API PAGE **---------*/



    /*---------** CLEANER IS BOOKED PAGE **---------*/

    #booked_cleaner_body {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }


    /*-----TOP CONTENTS-----*/

    .top_contents__cib {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        border-bottom: 1px solid #EDC681;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;


    }

    .moving_details_title__cib {
        color: #EDC681;
        font-size: 22px;
        font-weight: 200;
        margin: 0;
        margin-top: 5px;

    }

    .back_button__cib {
        height: 20px;
        margin-top: 5px;

    }

    /*-----//  TOP CONTENTS-----*/
    /*-----CLEANER ARRIVAL CONTENTS-----*/
    .cleaner_arrival_wrap {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;


    }

    .cleaner_booked_line {
        width: 50%;
        border: 1px solid #EDC681;
    }


    .cleaner_arrival_info {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;

    }

    .cleaner_will_arrive_title,
    .date_of_arrival_title,
    .chosen_cleaner_title {
        color: #EDC681;
        margin: 0;
        text-align: center;
        font-size: 20px;
        font-weight: 200;
        margin-bottom: 10px;

    }


    #users_street_address,
    #users_town_city,
    #users_booked_date,
    #users_name {
        color: #fff;
        text-align: center;
        font-weight: 200;
        margin: 0;
    }

    #users_street_address {
        opacity: 0;

    }

    #users_name {
        width: 100%;
        text-align: left;
        font-size: 15px;
        margin-bottom: 25px;

    }

    #users_town_city,
    #users_booked_date {
        margin-bottom: 15px;
        opacity: 0;

    }

    .user_name_input {
        font-weight: 200;
        opacity: 0;

    }

    .chosen_cleaner__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        border-left: 1px solid #EDC681;
        border-right: 1px solid #EDC681;
    }

    .cleaner_avatar__cib {
        height: 30px;
        border-radius: 100px;
        margin-bottom: 10px;

    }

    #chosen_cleaner {
        color: #fff;
        font-size: 18px;
        margin: 0;
    }

    /*-----//  CLEANER ARRIVAL CONTENTS-----*/
    /*-----BACK TO INDEX BUTTON-----*/

    .back_to_index_wrap {
        width: 100%;
        height: 15%;
        color: #EDC681;
        font-size: 22px;
        font-weight: 200;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #EDC681;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;


    }

    .back_to_index_button {
        width: 80%;
        height: 48.2656px;
        background-color: transparent;
        border: none;
        border-left: 1px solid #EDC681;
        border-right: 1px solid #EDC681;
        color: #fff;
        outline: none;
        font-weight: 200;
        font-size: 20px;
        transition: 0.1s;

    }

    /*-----//  BACK TO INDEX BUTTON-----*/




    /*---------//  ** CLEANER IS BOOKED PAGE **---------*/






}

@media only screen and (min-device-width : 375px) {

    .slick_wrap {
        display: flex;
        align-items: center;

    }

    .basic_clean_wrap,
    .deep_clean_wrap,
    .moving_in_out_wrap {
        margin-top: 36px;

    }



}

@media only screen and (min-device-width : 414px) {



    .basic_clean_wrap,
    .deep_clean_wrap,
    .moving_in_out_wrap {
        margin-top: 45px;
    }
}

@media only screen and (min-device-height : 812px) {

    .basic_clean_wrap,
    .deep_clean_wrap,
    .moving_in_out_wrap {
        margin-top: 80px;
    }
}

/* iPad ----------- */
@media only screen and (min-device-width : 768px) {

    .button_wrap {
        /*--HIDES BUTTON WRAP FROM IPAD DISPLAY---*/
        display: none;
    }

    /*---TOP CONTENTS---*/
    .top_contents_wrapper {
        height: 20%;
    }

    .index_logo {
        width: 60px;
        height: 60px;
    }

    .tap_to_select {
        font-size: 15px;
    }


    /*---//  TOP CONTENTS---*/
    /*---SERVICE CONTENTS---*/
    .basic_clean_image,
    .deep_clean_image,
    .moving_in_out_image {
        height: 150px;
    }

    .basic_clean_blurb,
    .deep_clean_blurb,
    .moving_in_out_blurb {
        font-size: 20px;
    }

    /*---//  SERVICE CONTENTS---*/
    /*---NEXT/PREVIOUS BUTTONS---*/
    .button_wrap__ipad {
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;

    }

    .next_button,
    .previous_button {
        width: 120px;
        height: 70px;
    }

    .next_arrow_icon,
    .previous_arrow_icon {
        height: 50px;
    }

    .to_select_service_text__ipad {
        color: #EDC681;
        font-size: 1.3em;
        font-weight: 200;
    }

    /*---//  NEXT/PREVIOUS BUTTONS---*/



    /*------------**HOW MANY ROOMS PAGE**-----------*/
    /*-----ROOM TYPE COUNTERS-----*/
    .how_many_rooms_title {
        font-size: 2em;
    }

    .room_type_wrap {
        justify-content: space-evenly;
    }

    .counter_wrap {
        justify-content: space-around;
    }

    .counter_title {
        font-size: 1.3em;
    }

    .addRoom,
    .subtractRoom {
        width: 100px;
        height: 100px;
    }

    .counter_up_arrow,
    .counter_down_arrow {
        height: 30px;
    }

    #rooms_amount_bedroom,
    #rooms_amount_bathrooms,
    #rooms_amount_kitchens {
        height: 50px;
        width: 55%;
        font-size: 1.5em;

    }

    /*-----//  ROOM TYPE COUNTERS-----*/
    /*-----NEXT/PREVIOUS BUTTONS-----*/
    .to_select_service_text__rooms {
        font-size: 1.4em;
    }

    .previous_button__rooms,
    .next_button__rooms {
        width: 100px;
        height: 100px;

    }

    .next_arrow_icon__rooms,
    .previous_arrow_icon__rooms {
        height: 40px;
    }

    /*-----//  NEXT/PREVIOUS BUTTONS-----*/
    /*------------//  **HOW MANY ROOMS PAGE**-----------*/



    /*------------**LOCATION FORM PAGE**-----------*/
    .location_details_title {
        font-size: 30px;
    }

    .contact_form {
        width: 80%;
    }

    .cleaning_location_title {
        font-size: 25px;
        margin: 0;
    }

    .submit_form_button {
        font-size: 1.4em;
        cursor: pointer;
    }

    /*-----FORM PLACEHOLDERS-----*/
    textarea::-webkit-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.3em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        text-align: center;
        font-size: 1.3em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        text-align: center;
        font-size: 1.3em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-ms-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.3em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.3em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: #fff;
        font-weight: 300;
        font-size: 1.3em;
        font-family: 'Lato', sans-serif;

    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
        font-weight: 300;
        font-size: 1.3em;
        font-family: 'Lato', sans-serif;

    }

    ::placeholder {
        color: #fff;
        font-weight: 300;
        font-size: 1.3em;
        font-family: 'Lato', sans-serif;
    }

    /*-----// FORM PLACEHOLDERS-----*/
    /*------------//  **LOCATION FORM PAGE**-----------*/



    /*------------MOVING IN/OUT PAGE-----------*/
    .moving_details_title {
        font-size: 30px;
    }

    .cleaning_location_title__movingform {
        font-size: 25px;

    }

    .dateTime_input {
        font-size: 1.5em;
        text-transform: uppercase;
    }

    #submit_button__movingform {
        font-size: 22px;
    }

    /*------------//  MOVING IN/OUT PAGE-----------*/
    /*------------MAPS API PAGE-----------*/

    .open_close_info_button {
        width: 60PX;
        height: 60px;
        top: 60px;
    }

    .info_icon {
        height: 40px;
    }

    .cleaner_will_be_wrap,
    .your_service_wrap,
    .your_service_rooms_wrap {
        width: 300px;
        height: 190px;


    }

    .cleaner_will_be,
    .your_service,
    .your_service_rooms {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .cleaner_avatar {
        height: 55px;
        margin-right: 5px;

    }

    .cleaner_name {
        font-size: 22px;

    }

    .tap_for_map {
        font-size: 1.3em;
    }

    .cancel_cleaner_button {
        font-size: 1.5em;
    }

    /*------------//  MAPS API PAGE-----------*/




}

/* iPad Pro ----------- */
@media only screen and (min-device-width : 1024px) {

    /*---TOP CONTENTS---*/
    .index_logo {
        width: 100px;
        height: 100px;
    }

    .tap_to_select {
        font-size: 22px;
    }

    /*---//  TOP CONTENTS---*/
    /*---SERVICE CONTENTS---*/
    .basic_clean_image,
    .deep_clean_image,
    .moving_in_out_image {
        height: 200px;
    }

    .basic_clean_title,
    .deep_clean_title,
    .moving_in_out_title {
        font-size: 3em;
    }

    .basic_clean_blurb,
    .deep_clean_blurb,
    .moving_in_out_blurb {
        font-size: 30px;
    }

    /*---//  SERVICE CONTENTS---*/
    /*---NEXT/PREVIOUS BUTTONS---*/
    .next_button,
    .previous_button {
        width: 160px;
        height: 100px;

    }

    .next_arrow_icon,
    .previous_arrow_icon {
        height: 80px;
    }

    .to_select_service_text__ipad {
        color: #EDC681;
        font-size: 1.8em;
        font-weight: 200;
    }

    /*---//  NEXT/PREVIOUS BUTTONS---*/



    /*---------** HOW MANY ROOMS START **---------*/
    .how_many_rooms_title {
        font-size: 2.8em;
    }

    .counter_title {
        font-size: 1.8em;
    }

    .addRoom,
    .subtractRoom {
        width: 120px;
        height: 120px;
    }

    .counter_down_arrow,
    .counter_up_arrow {
        height: 40px;
    }

    #rooms_amount_bedroom,
    #rooms_amount_bathrooms,
    #rooms_amount_kitchens {
        height: 55px;
        font-size: 2em;

    }

    .next_prev_button_wrap {
        justify-content: space-around;
        opacity: 0;
    }

    .to_select_service_text__rooms {
        font-size: 1.8em;
        color: #fff;
    }


    .next_arrow_icon__rooms,
    .previous_arrow_icon__rooms {
        height: 60px;
    }

    /*---------//  ** HOW MANY ROOMS START **---------*/



    /*---------** LOCATION FORM PAGE **---------*/
    .location_details_title {
        font-size: 2.7em;
    }

    .cleaning_location_title {
        font-size: 35px;
    }

    /*-----FORM PLACEHOLDERS-----*/
    textarea::-webkit-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.8em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        text-align: center;
        font-size: 1.8em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        text-align: center;
        font-size: 1.8em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-ms-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.8em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.8em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: #fff;
        font-weight: 300;
        font-size: 1.7em;
        font-family: 'Lato', sans-serif;

    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
        font-weight: 300;
        font-size: 1.7em;
        font-family: 'Lato', sans-serif;

    }

    ::placeholder {
        color: #fff;
        font-weight: 300;
        font-size: 1.7em;
        font-family: 'Lato', sans-serif;
    }

    /*-----// FORM PLACEHOLDERS-----*/
    /*---------//  ** LOCATION FORM PAGE **---------*/



    /*---------**MOVING IN/OUT PAGE**---------*/

    .moving_details_title {
        font-size: 2.7em;
    }

    .cleaning_location_title__movingform {
        font-size: 35px;
    }

    .dateTime_input {
        font-size: 1.8em;
    }

    #submit_button__movingform {
        font-size: 30px;
    }

    /*---------//  **MOVING IN/OUT PAGE**---------*/
    /*---------MAPS API PAGE---------*/


    .open_close_info_button {
        width: 80px;
        height: 80px;
        top: 85px;
        right: 20px;
    }

    .info_icon {
        height: 60px;
    }

    .cleaner_will_be_wrap,
    .your_service_wrap,
    .your_service_rooms_wrap {
        width: 360px;
        height: 200px;
    }

    .cleaner_will_be,
    .your_service,
    .your_service_rooms {
        font-size: 30px;

    }

    .tap_for_map {
        font-size: 2em;
        margin-bottom: 5px;
    }

    .cancel_cleaner_button {
        font-size: 2em;
    }

    /*---------//  MAPS API PAGE---------*/

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

    .slick_wrap,
    .button_wrap__ipad {
        /*---HIDES ELEMTS FROM DESKTOP VIEW---*/
        display: none !important;
    }


    /*---TOP CONTENTS---*/
    .top_contents_wrapper {
        height: 15%;

    }

    .index_logo {
        width: 40px;
        height: 40px;
    }

    .tap_to_select {
        font-size: 13px;
    }

    /*---//  TOP CONTENTS---*/
    /*---SERVICE CONTENTS---*/

    .services_wrap__desktop {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .basic_clean_wrap__desktop,
    .deep_clean_wrap__desktop,
    .moving_in_out_wrap__desktop {
        width: 33.33%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        cursor: pointer;
        opacity: 0;
        border-radius: 0px;
        background: linear-gradient(145deg, #1a1919, #161515);
        box-shadow: 5px 5px 10px #161515,
            -5px -5px 10px #1a1919;

    }

    .basic_clean_title__desktop,
    .deep_clean_title__desktop,
    .moving_in_out_title__desktop {
        color: #fff;
        text-align: center;
        font-size: 2em;
    }

    .basic_clean_blurb__desktop,
    .deep_clean_blurb__desktop,
    .moving_in_out_blurb__desktop {
        color: #fff;
        font-size: 20px;
        font-weight: 200;
        text-align: center;
        margin: 0;
    }

    /*---//  SERVICE CONTENTS---*/
    /*---BOTTOM DESKTOP CONTENTS---*/
    .bottom_wrap__desktop {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        opacity: 0;

    }

    /*---//  BOTTOM DESKTOP CONTENTS---*/
    /*---------** HOW MANY ROOMS PAGE **---------*/

    body {
        align-items: center;
    }

    .counter_title_underline {
        border: 0.5px solid #EDC681;
        transform: rotate(90deg);
        width: 30px;
        display: none;

    }

    .how_many_rooms_title {
        font-size: 2em;
        /*---Opacity set to 0, resets to 1 on window load---*/
        opacity: 0;
    }

    .room_type_wrap {
        width: 50%;
    }

    .counter_wrap {
        justify-content: space-evenly;
    }

    .counter_title {
        font-size: 1.1em;
    }

    .counter_opacity1,
    .counter_opacity2,
    .counter_opacity3 {
        /*---Opacity set to 0, resets to 1 on window load---*/
        opacity: 0;
    }


    .addRoom,
    .subtractRoom {
        width: 80px;
        height: 80px;
    }

    #rooms_amount_bedroom,
    #rooms_amount_bathrooms,
    #rooms_amount_kitchens {
        border-left: 0.5px solid #EDC681;
        border-right: 0.5px solid #EDC681;

    }

    .next_prev_button_wrap {
        font-size: 0.7em;
        justify-content: space-evenly;

    }

    .next_button__rooms,
    .previous_button__rooms {
        cursor: pointer;
    }

    /*---------//  ** HOW MANY ROOMS PAGE **---------*/
    /*---------** LOCATION FORM PAGE **---------*/

    .location_details_title {
        font-size: 2.4em;
        /*---Opacity set to 0, resets to 1 on window load---*/
        opacity: 0;
    }

    .contact_form {
        width: 50%;


    }

    .submit_form_button {
        /*---Opacity set to 0, resets to 1 on window load---*/
        opacity: 0;
    }

    .cleaning_location_title {
        font-size: 20px;
        /*---Opacity set to 0, resets to 1 on window load---*/
        opacity: 0;
    }

    .back_button {
        left: 576px;
        cursor: pointer;
        opacity: 0.5;
    }

    /*-----FORM PLACEHOLDERS-----*/
    textarea::-webkit-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.3em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        text-align: center;
        font-size: 1.3em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        text-align: center;
        font-size: 1.3em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea:-ms-input-placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.3em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    textarea::placeholder {
        color: #fff;
        text-align: center;
        font-size: 1.3em !important;
        font-weight: 100;
        opacity: 0.7;
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: #fff;
        font-size: 1.3em;
        font-weight: 300;
        font-family: 'Lato', sans-serif;

    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
        font-size: 1.3em;
        font-weight: 300;
        font-family: 'Lato', sans-serif;

    }

    ::placeholder {
        color: #fff;
        font-size: 1.3em;
        font-weight: 300;
        font-family: 'Lato', sans-serif;
    }

    /*-----// FORM PLACEHOLDERS-----*/
    /*---------//  ** LOCATION FORM PAGE **---------*/



    /*---------**MOVING IN/OUT PAGE**---------*/

    .moving_details_title {
        font-size: 2.4em;
        /*---Opacity set to 0, resets to 1 on window load---*/
        opacity: 0;
    }

    .moving_contact_form {
        width: 50%;
    }

    .cleaning_location_title__movingform {
        font-size: 20px;
        /*---Opacity set to 0, resets to 1 on window load---*/
        opacity: 0;
    }

    #submit_button__movingform {
        width: 100%;
        /*---Opacity set to 0, resets to 1 on window load---*/
        opacity: 0;
        cursor: pointer;
        font-size: 1.4em;
    }

    /*---------//  **MOVING IN/OUT PAGE**---------*/
    /*---------MAPS API PAGE---------*/

    .left_border,
    .right_border {
        position: absolute;
        width: 0px;
        height: 75%;
        z-index: 2;
        background-color: #000000;

    }

    .left_border {
        left: 0;
    }

    .right_border {
        right: 0;
    }

    .open_close_info_button {
        display: none;
    }


    .top_info__desktop {
        height: 15%;
    }

    .chosen_service_wrap {
        visibility: visible;
        flex-flow: row;

        width: 50%;
    }

    .your_service_wrap,
    .your_service_rooms_wrap,
    .cleaner_will_be_wrap {
        box-shadow: none;
        width: 170px;
        height: 100px;
        border-top: 1px solid #EDC681;
        border-bottom: 1px solid #EDC681;
        opacity: 0;

    }

    .your_service,
    .your_service_rooms,
    .cleaner_will_be {
        font-size: 18px;
        margin: 7px;
    }

    .cleaner_name {
        font-size: 15px;

    }

    .cleaner_avatar {
        height: 38px;
    }






    /*---------//  MAPS API PAGE---------*/



}


/*---:HOVERS/:ACTIVES---*/


.nextbutton:active>.rightArrow {
    transform: translateX(20px);
}

.previousbutton:active>.leftArrow {
    transform: translateX(20px);
}


#nextButton_toForm:active>.right_arrow_button {
    transform: translateX(15px);
}

#previousButton:active>.left_arrow_button {
    transform: translateX(15px);
}


.TIPbutton:active {
    background-color: #EDC681;
}

.cancelCleaner_button:active {
    background-color: #FF6961;
}

.next_button:active>.next_arrow_icon {
    transform: translateX(20px);
    opacity: 1;
}

.previous_button:active>.previous_arrow_icon {
    transform: translateX(20px);
    opacity: 1;
}


.basic_clean_wrap__desktop:hover,
.deep_clean_wrap__desktop:hover,
.moving_in_out_wrap__desktop:hover {
    border-top: 1px solid #EDC681;
    border-bottom: 1px solid #EDC681;
    transition: 0.3s;

}

.basic_clean_wrap__desktop:active,
.deep_clean_wrap__desktop:active,
.moving_in_out_wrap__desktop:active {
    border-radius: 0px;
    background: linear-gradient(145deg, #161515, #1a1919);
    box-shadow: 5px 5px 10px #161515,
        -5px -5px 10px #1a1919;
    border-top: 1px solid #EDC68164;
    border-bottom: 1px solid #EDC68164;
}


.basic_clean_wrap:active,
.deep_clean_wrap:active,
.moving_in_out_wrap:active {
    opacity: 0.5;
}

.next_button__rooms:active>.next_arrow_icon__rooms {
    opacity: 1;
    transform: translateX(5px);
}

.previous_button__rooms:active>.previous_arrow_icon__rooms {
    opacity: 1;
    transform: translateX(-5px);
}

.addRoom:active,
.subtractRoom:active {
    border-radius: 0px;
    background: linear-gradient(145deg, #161515, #1a1919);
    box-shadow: 5px 5px 0px #161515,
        -5px -5px 0px #1a1919;

}

.submit_form_button:active,
#submit_button__movingform:active,
.back_to_index_button:active {
    border-width: 10px;
    outline: none;

}


.back_button:hover {
    opacity: 1;
}

.back_button:active {
    opacity: 0.5;
    transform: translateX(-5px);

}

.open_close_info_button:active {
    box-shadow: none;
}